<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Restaurante_SH_JoseArmando.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Restaurante_SH_JoseArmando.Properties.Settings.JArmando_RestauranteSHConnectionString"
            connectionString="Data Source=LAPTOP-25AIBIN4;Initial Catalog=JArmando_RestauranteSH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Restaurante_SH_JoseArmando.Properties.Settings>
            <setting name="s" serializeAs="String">
                <value>True</value>
            </setting>
        </Restaurante_SH_JoseArmando.Properties.Settings>
    </userSettings>
</configuration>